@use '../utils/variables' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 120px;
	contain: paint;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

body::-webkit-scrollbar {
	width: 0.8rem; 
}

body::-webkit-scrollbar-track {
	background: $white;
}

body::-webkit-scrollbar-thumb {
	background-color: $dark-green;
	border-radius: 3rem;
}
