@use '../utils/variables' as *;

.nav {
	position: fixed;
	top: 0;
	display: flex;
	height: 10rem;
	width: 100%;
	background-color: $white;
	z-index: 1000;
	&__logo {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 0.4em;
		height: 100%;
		font-size: 3.4rem;
		color: $dark-color;
		&-text {
			margin-left: 0.2em;
			color: $black;
		}
		&-link {
			text-decoration: none;
		}
	}
}

.nav__desktop {
	display: none;
}

.nav__mobile {
	
	&-box {
		position: absolute;
		top: 10rem;
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: calc(100vh - 10rem);
		width: 100%;
		background-color: $white;
		transition: right 0.4s;

		&--active {
			right: 0;
		}
	}
}

.nav-item {
	display: block;
	margin: 0.6em 0;
	padding: 0.35em 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 2.2em;
	color: $black;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.nav {
		justify-content: center;
	}

	.nav__mobile {
		display: none;
	}
	.nav__desktop {
		display: flex;
		width: 100%;

		&-items {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
		}
	}
	.nav-item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0.5em;
		padding: 0 0.2em;
		height: 100%;
		width: 15%;
		font-size: 1.8rem;
		transition: color 0.3s, background-color 0.3s;
	}
	.nav-item:hover {
		color: $white;
		background-color: black;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.nav-item {
		margin: 0;
		padding: 0;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.nav {
		&-logo {
			font-size: 4.2rem;
		}
	}
	.nav-item {
		font-size: 2.2rem;
	}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

//TODO
// naprawić BEM - poczytaj (ZRÓB TO NAJPIERW!!!!) - bo potem będzie problem z klasami
